[submodule "themes/hugo-strata-theme"]
	path = themes/hugo-strata-theme
	url = https://github.com/digitalcraftsman/hugo-strata-theme.git
[submodule "public"]
	path = public
	url = git@github.com:ryota-murakami/ryota-murakami.github.io.git
