<style>
  h2 {
    color: #333;
  }
  .about-container {
    padding: 0;
  }

  .prof-intro {
    margin-bottom: 35px;
  }

  .prof-intro > h1 {
    margin-bottom: 25px;
  }

  .prof-intro .main-text {
    line-height: 1.25em;
  }

  .prof-intro p {
    margin: 0;
    margin-bottom: 8px;
  }

  .oss-contributor {
    margin-bottom: 35px;
    border-top: solid 2px #efefef;
    margin: 2em 0 0 0;
    padding: 2em 0 0 0;
  }

  .oss-contributor > h1 {
    margin-bottom: 25px;
  }

  .oss-contributor_section {
    margin-bottom: 25px;
    padding-left: 10px;
  }

  .oss-contributor_section a {
    border: none;
    color: #333;
    font-size: 24px;
    line-height: 24px;
  }

  .oss-contributor_section .oss-contributor_section_title {
    color: #333;
    font-size: 1.1em;
    margin-bottom: 3px;
  }

  .oss-contributor_section .oss-contributor_section_desc {
    padding-left: 25px;
    font-size: 1.1em;
    line-height: 1.4em;
    color: #787878;
  }
</style>
<div class="about-container">
  <div class="prof-intro">
    <h1>Full-Stack JavaScript Developer</h1>
    <div class="main-text">
      <p>I live in Tokyo. I’ve been fascinated to JavaScript OSS community. <br>I like Designing Software Architecture and provide straightforward development experience for people 🌎</p>
      <p>Sometime <a href="https://github.com/pulls?utf8=%E2%9C%93&q=is%3Apr+author%3Aryota-murakami+archived%3Afalse+is%3Aclosed+is%3Apublic+-org%3Aryota-murakami" target="_blank">I contribute OSS</a> that relevant React.</p>
      <p>Finally, my little journey goal is eliminate all Bullshit around the Software Development.</p>
    </div>
  </div>

  <div class="oss-contributor">
    <h2>OSS Contribution</h2>

    <div class="oss-contributor_section">
      <div class="oss-contributor_section_title"><a href="https://github.com/facebook/react" target="_blank">React</a></div>
      <div class="oss-contributor_section_desc">I like "No Abstraction > Wrong Abstraction" principle and I React Core Team.<br>
        Mainly create issue/discuss about Doc, Read & Reaction new feature PR, commit tweek fix something.
      </div>
    </div>
    <div class="oss-contributor_section">
      <div class="oss-contributor_section_title"><a href="https://spectrum.chat" target="_blank">Spectrum</a></div>
      <div class="oss-contributor_section_desc">Specrum is OSS communitiy platform.
      </div>
    </div>

  </div>
</div>
