<style>
	.prof-intro {
		margin-bottom: 35px;
	}

	.prof-intro > h1 {
		margin-bottom: 25px;
	}

	.prof-intro .main-text {
		line-height: 1.25em;
	}

	.prof-intro p {
		margin: 0;
		margin-bottom: 8px;
	}

	.oss-contributor {
		margin-bottom: 35px;
		border-top: solid 2px #efefef;
		margin: 2em 0 0 0;
		padding: 2em 0 0 0;
	}

	.oss-contributor > h1 {
		margin-bottom: 25px;
	}

	.oss-contributor_section {
		margin-bottom: 25px;
		padding-left: 10px;
	}

	.oss-contributor_section a {
		border: none;
		color: #333;
		font-size: 24px;
		line-height: 24px;
	}

	.oss-contributor_section .oss-contributor_section_title {
		color: #333;
		font-size: 1.1em;
		margin-bottom: 3px;
	}

	.oss-contributor_section .oss-contributor_section_desc {
		padding-left: 25px;
		font-size: 1.1em;
		line-height: 1.4em;
		color: #787878;
	}

	.oss-backer {
		margin-bottom: 35px;
		border-top: solid 2px #efefef;
		margin: 2em 0 0 0;
		padding: 2em 0 0 0
	}

	.oss-backer > h1 {
		margin-bottom: 20px;
	}

	.oss-backer .main-text {
		line-height: 1.25em;
		margin-bottom: 15px
	}

	.oss-backer .oss-backer_site {
		color: #333;
		margin-bottom: 0;
	}

	.oss-backer .oss-backer_site a {
		color: #333;
		border: none;
		font-size: 20px;
		line-height: 18px;
	}
</style>
<section>
	<div class="prof-intro">
		<h1>Full-Stack JavaScript Developer</h1>
		<div class="main-text">
			<p>I live in Tokyo, Japan. HTTP, CSS3, JavaScript, jQuery, Flow, React, Redux, Node, GraphQL , Docker. <br>
				I’ve been fascinated to JavaScript OSS community.</p>
			<p>Also i'd like to work for evolve Technology, increase Developer Experience, implove OSS sustainability🌎</p>
		</div>
	</div>

	<div class="oss-contributor">
		<h1>OSS Contributor</h1>

		<!--<div class="oss-contributor_section">-->
			<!--<div class="oss-contributor_section_title"><a href="https://github.com/facebook/flow" target="_blank">Flow</a></div>-->
			<!--<div class="oss-contributor_section_desc">Flow is a static type checker and is not a static Type language, code does move even if it is a Type error, it has a unique feature that it gives Type information to JavaScript Dynamic Type Language and makes it possible to analyze it.<br><div style="margin-top: 3px;"></div>-->

				<!--Although I am not familiar with the history of the programming language, the initial Type is information for the compiler, such as instructing the necessary allocate of memory, compiling at a high speed by describing argument and return type in advance, etc. It seems TypeSystem role was supported compiler.<br>-->

				<!--However, such as remarkable improvement of machine power, high performance of IDE, Emergence of programming style effectively using Type such as Gof design pattern, these were changed in the situation.<br> Type has more information support to humans rather than a compiler.<br><br>-->

				<!--A type system, that has only responsibility as annotation information that does not participate in the execution result of the code but assists humans.<br><br>-->

				<!--I am excited to a tool that is very unique and new era TypeSystem Flow🛁</div>-->
		<!--</div>-->
		<div class="oss-contributor_section">
			<div class="oss-contributor_section_title"><a href="https://github.com/sindresorhus/refined-twitter" target="_blank">Refined Twitter</a></div>
			<div class="oss-contributor_section_desc">I've never thanked so much for the web platform🤣</div>
		</div>
		<div class="oss-contributor_section">
			<div class="oss-contributor_section_title"><a href="https://github.com/withspectrum/spectrum" target="_blank">Spectrum</a></div>
			<div class="oss-contributor_section_desc">OSS communitiy platform. Mixed realtime chat & thread conversation,<br>join with single account. <br>I think this is solving pretty well slack's problems💯</div>
		</div>
		<div class="oss-contributor_section">
			<div class="oss-contributor_section_title"><a href="https://github.com/facebook/react" target="_blank">React</a></div>
			<div class="oss-contributor_section_desc">No Abstraction > Wrong Abstraction.<br>I was struck by the attitude towards software development by the React Coreteam.<br>I think they are not influence sounds good but not real buzzwords.<br>They face the insanely complexity of software
				development
				from the front and I think that they express truly pragmatic practices, decision-making, and code itself🙂
			</div>
		</div>
		<div class="oss-contributor_section">
			<div class="oss-contributor_section_title"><a href="https://github.com/webpack/webpack" target="_blank">webpack</a></div>
			<div class="oss-contributor_section_desc">I don't have a CS degree and hardly knew about comliling, linking, optimizing code.<br>I feel that it is now possible to touch computor science through webpack.<br> Now I'm filled with the mind to appreciate open source🙇‍️</div>
		</div>
	</div>

	<div class="oss-backer">
		<h1>OSS Backer</h1>
		<div class="main-text">I'm living on sustained awesome OSS tools😀</div>
		<ul class="oss-backer_site">
			<li><a href="https://opencollective.com/malloc007" target="_blank">Open Collective</a></li>
			<li><a href="https://www.patreon.com/user/creators?u=5266380" target="_blank">Patreon</a></li>
		</ul>
	</div>
</section>
