<section>
	<h1>Full-Stack JavaScript Developer</h1>
	<p class="main-text">I live in Tokyo, Japan. React, ReactNative, Redux, Node, GraphQL. <br>I’ve been fascinated to JavaScript OSS community.</p>
	<p class="main-text">Also i'd like to work for evolve Technology, increase Developer Experience, implove OSS sustainability🌎</p>
	<h1 style="font-size: 1.7em;">OSS Contribution</h1>
	<p style="font-size: 1.2em;color: #787878;"><a style="font-size: 1.1em;color: #787878;" href="https://github.com/withspectrum/spectrum">spectrum</a> is OSS communitiy platform. Mixed realtime chat & thread conversation,<br>join with single account. <br>I think this is solving pretty well slack's problems💯</p>
	<h1 style="font-size: 1.7em;">OSS Backer</h1>
	<p style="font-size: 1.2em;color: #787878;">I'd like to encourage sustainability of awesome OSS tools, so I'm backing on <a style="font-size: 1em;color: #787878;" href="https://opencollective.com/malloc007">Open Collective</a>😀</p>
</section>
