<style>
	.closed-repo {
		margin-bottom: 35px;
		border-top: solid 2px #efefef;
		margin: 2em 0 0 0;
		padding: 2em 0 0 0;
	}

	.closed-repo > h1 {
		margin-bottom: 20px;
	}

	.closed-repo_section_flex_container {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	.closed-repo_section_title {
		flex: 0 1 auto;
		color: #333;
		font-size: 1.1em;
		min-width: 103px;
	}

	.closed-repo_section_title > a {
		border-bottom: 1px dotted rgb(120, 120, 120);
		color: #333;
		font-size: 26px;
		line-height: 26px;
		transition: border-color 0.2s ease-in-out;
	}

	.closed-repo_section_title > a:hover {
		border-bottom-color: transparent;
	}

	.closed-repo_overview_desc {
		flex: 0 1 auto;
		padding-left: 20px;
		font-size: 1.1em;
		line-height: 1.4em;
		color: #333;
	}

	.closed-repo_overview_img {
		padding-top: 30px;
	}

</style>
<div>
	<div class="closed-repo">
		<h1>Closed App</h1>
		<div>
			<div class="closed-repo_section_flex_container">
				<div class="closed-repo_section_title"><a href="https://github.com/ryota-murakami/trueblue" target="_blank">True Blue</a></div>
				<div class="closed-repo_overview_desc">Archive tweets on every other day 📆</div>
			</div>
			<div class="closed-repo_overview_img"><img src="https://github.com/ryota-murakami/trueblue/raw/master/demo.gif" alt="example" style="max-width:100%;"></div>
		</div>
	</div>

</div>
