<style>
  .created_library {
    border-top: solid 2px #efefef;
    margin: 0 0 2em 0;
    padding: 1em 0 0 0;
  }

  .created_library > h1 {
    margin-bottom: 25px;
  }

  .created_library_section {
    margin-bottom: 25px;
    padding-left: 10px;
  }

  .created_library_section a {
    border: none;
    color: #333;
    font-size: 24px;
    line-height: 24px;
  }

  .created_library_section .created_library_section_title {
    color: #333;
    font-size: 1.1em;
    margin-bottom: 3px;
  }

  .created_library_section .created_library_section_desc {
    padding-left: 25px;
    font-size: 1.1em;
    line-height: 1.4em;
    color: #787878;
  }

  .created_library_section .created_library_section_desc a {
    font-size: 1em;
    line-height: 1.4em;
    color: #787878;
  }

  .created_library_section_desc p {
    margin-bottom: 8px;
  }
</style>
<div class="created_library">
  <h2>Created Library</h2>

  <div class="created_library_section">
    <div class="created_library_section_title"><a href="https://github.com/ryota-murakami/muriatic" target="_blank">muriatic</a></div>
    <div class="created_library_section_desc"><p>I wanna global version of React's <b>setState()</b><br>
      Thus I created 『const [store, setStore] = useStore()』One Shot Data Sharing Library 🍸</p>
    </div>
  </div>
</div>