<style>
  .end_of_life {
    border-top: solid 2px #efefef;
    margin: 0 0 2em 0;
    padding: 1em 0 0 0;
  }

  .end_of_life > h1 {
    margin-bottom: 25px;
  }

  .end_of_life_section {
    margin-bottom: 25px;
    padding-left: 10px;
  }

  .end_of_life_section a {
    border: none;
    color: #333;
    font-size: 24px;
    line-height: 24px;
  }

  .end_of_life_section .end_of_life_section_title {
    color: #333;
    font-size: 1.1em;
    margin-bottom: 3px;
  }

  .end_of_life_section .end_of_life_section_desc {
    padding-left: 25px;
    font-size: 1.1em;
    line-height: 1.4em;
    color: #787878;
  }

  .end_of_life_section .end_of_life_section_desc a {
    font-size: 1em;
    line-height: 1.4em;
    color: #787878;
  }

  .end_of_life_section_desc p {
    margin-bottom: 8px;
  }
</style>
<div class="end_of_life">
  <h2>End of Life</h2>

  <div class="end_of_life_section">
    <div class="end_of_life_section_title"><a href="https://github.com/ryota-murakami/redux-vanilla" target="_blank">Redux Vanilla</a></div>
    <div class="end_of_life_section_desc"><p>🍨 Zero Abstraction React Redux binding library</div>
  </div>
  <div class="end_of_life_section">
    <div class="end_of_life_section_title"><a href="https://github.com/ryota-murakami/flow-typedef" target="_blank">Flow Typedef</a></div>
    <div class="end_of_life_section_desc"><p>Get Flow built-in type definition files ⛏<br>
      Flow's DOM typedef wasn't correct so I send PR, <a href="https://github.com/facebook/flow/commit/699ac4e99514337370a9ce19e288c21834747a1e" target="_blank">First One</a> was acceped but next's <a style="color: #333;" href="https://github.com/facebook/flow/pull/6997" target="_blank">fix all DOM
        return type of getBoundingClientRect() & getClientRects() #6997</a> isn't imported.<br>
      Therefore I needed fix manualy with this library.
    </p>
    </div>
  </div>
  <div class="end_of_life_section">
    <div class="end_of_life_section_title"><a href="https://github.com/ryota-murakami/blog" target="_blank">Blog</a></div>
    <div class="end_of_life_section_desc"><p>Ruby on Rails personal blog for learning.<br>
      Made by newbie era me. Actually toy for wedev education, but I did whole role's work that's trigger of figure out my direction's "web, total software design, testing".
    </p>
    </div>
  </div>
  <div class="end_of_life_section">
    <div class="end_of_life_section_title"><a href="https://github.com/ryota-murakami/trueblue" target="_blank">True Blue</a></div>
    <div class="end_of_life_section_desc"><p>Archive tweets on every other day 📆.</p>
      <img
              src="https://github.com/ryota-murakami/trueblue/raw/master/demo.gif" alt="example"
              style="max-width:100%;">
    </div>
  </div>
  <div class="end_of_life_section">
    <div class="end_of_life_section_title"><a href="https://qiita.com/ryota-murakami" target="_blank">Qiita</a></div>
    <div class="end_of_life_section_desc"><p>Qiita (キータ) は、プログラマのための技術情報共有サービスです。 プログラミングに関することをどんどん投稿して、知識を記録、共有しましょう。 Qiitaに投稿すると、自分のコードやノウハウを見やすい形で残すことができます。</p>
    </div>
  </div>
  <div class="end_of_life_section">
    <div class="end_of_life_section_title"><a href="http://malloc.hatenablog.jp/" target="_blank">JavaScriptをがんばるブログ</a></div>
    <div class="end_of_life_section_desc"><p>React,OSS,ソフトウェア開発が中心のブログです👨‍💻</p>
    </div>
  </div>
</div>