<style>
  .example_app {
    border-top: solid 2px #efefef;
    margin: 2em 0 35px 0;
    padding: 2em 0 0 0;
  }

  .example_app > h1 {
    margin-bottom: 25px;
  }

  .example_app_section {
    margin-bottom: 25px;
    padding-left: 10px;
  }

  .example_app_section a {
    border: none;
    color: #333;
    font-size: 24px;
    line-height: 24px;
  }

  .example_app_section .example_app_section_title {
    color: #333;
    font-size: 1.1em;
    margin-bottom: 3px;
  }

  .example_app_section .example_app_section_desc {
    padding-left: 25px;
    font-size: 1.1em;
    line-height: 1.4em;
    color: #787878;
  }

  .example_app_section .example_app_section_desc a {
    font-size: 1em;
    line-height: 1.4em;
    color: #787878;
  }

  .example_app_section_desc p {
    margin-bottom: 8px;
  }
</style>
<div class="example_app">
  <h2>Example App</h2>

  <div class="example_app_section">
    <div class="example_app_section_title"><a href="https://github.com/ryota-murakami/react-typescript-todo-example-2019" target="_blank">React TypeScript Todo Example 2019</a></div>
    <div class="example_app_section_desc"><p>TypeScript + Hooks Style code. and E2E/Integration Testing.<br>
      This repo appeared in the <a href="https://github.com/typescript-cheatsheets/react-typescript-cheatsheet" target="_blank">React+TypeScript Cheatsheets</a>.</p>
    </div>
  </div>
  <div class="example_app_section">
    <div class="example_app_section_title"><a href="https://github.com/ryota-murakami/redux-boilerplate-less-architecture" target="_blank">Redux Boilerplate Less Architecture</a></div>
    <div class="example_app_section_desc"><p>Built before Hooks. When I was reading a lot of Redux Example code, I felt that in many cases there was excessive abstraction, function splitting, file splitting, and directory splitting.<br>
      So I created straightforward code that just do Redux simple flow. </p>
      <p><span style="color: #333;">Dispatch Action ----> Reducer upates State</span></p>
    </div>
  </div>
</div>