{{ "<!-- Footer -->" | safeHTML }}
<footer id="footer">
  <ul class="icons">
    {{ with .Site.Params.sidebar.twitter }}
    <li><a href="//twitter.com/{{ . }}" target="_blank" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
    {{ end }}
    {{ with .Site.Params.sidebar.github }}
    <li><a href="//github.com/{{ . }}" target="_blank" class="icon fa-github"><span class="label">Github</span></a></li>
    {{ end }}

  <ul class="copyright">
    {{ range .Site.Params.sidebar.copyright }}
    <li>{{ . | markdownify }}</li>
    {{ end }}
  </ul>
</footer>

{{ "<!-- Scripts -->" | safeHTML }}
<script src="{{ .Site.BaseURL }}js/jquery.min.js"></script>
<script src="{{ .Site.BaseURL }}js/skel.min.js"></script>
<script src="{{ .Site.BaseURL }}js/util.js"></script>
<!--[if lte IE 8]><script src="{{ .Site.BaseURL }}js/ie/respond.min.js"></script><![endif]-->
<script src="{{ .Site.BaseURL }}js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
<script>
  var clipboard = new ClipboardJS('.contact-link');
  clipboard.on('success', event => {
    if (event.text) {
      showTooltip(event.trigger, 'copied!');
    }
  });

  function showTooltip(elem, msg) {
    var classNames = elem.className;
    elem.setAttribute('class', classNames + ' hint--right');
    elem.setAttribute('aria-label', msg);
    setTimeout(function () {
      elem.setAttribute('class', classNames);
    }, 2000);
  }

</script>
