{{ "<!-- works -->" | safeHTML }}
<style>
	.library-section h1 {
		margin-bottom: 20px;
	}

	.library-section .library-section_desc {
		line-height: 1.3em;
	}

	.library-section .row {
		display: flex;
		flex-direction: column;
		padding-bottom: 20px;
	}

	.library-section_item {
		flex: 1 0 auto;
		padding-bottom: 10px;
	}

	.library-section_item:last-child {
		padding-bottom: 0;
	}

	.library-section_item a {
		border: none;
		color: #333;
		font-size: 24px;
		line-height: 24px;
		flex: 1 0 auto;
	}

</style>
<section class="library-section">
	{{ with .Site.Params.library.title }}<h1>{{ . | markdownify }}</h1>{{ end }}
	<div class="row">
		{{ range .Site.Params.library.items }}
		<div class="library-section_item">
			<a target="_blank" href="{{ .url }}">{{ .title }}</a>
		</div>
		{{ end }}
	</div>
</section>
