<style>
  .link {
    border-top: solid 2px #efefef;
    margin: 0;
    padding: 1em 0 0 0;
  }

  .link > h1 {
    margin-bottom: 25px;
  }

  .link_elements_container {
    display: flex;
  }

  .link_element {
    margin-bottom: 25px;
    padding-left: 10px;
  }

  .link_element a {
    border: none;
    color: #333;
    font-size: 24px;
    line-height: 24px;
  }

  .link_element .link_element_title {
    color: #333;
    font-size: 1.1em;
    margin-bottom: 3px;
  }
</style>
<div class="link">
  <h2>Link</h2>
  <div class="link_elements_container">
    <div class="link_element">
      <div class="link_element_title"><a href="https://dev.to/malloc007" target="_blank">DEV</a></div>
    </div>
    <div class="link_element">
      <div class="link_element_title"><a href="https://twitter.com/malloc007" target="_blank">Twitter</a></div>
    </div>
    <div class="link_element">
      <div class="link_element_title"><a href="https://www.instagram.com/ryota_murakam1/" target="_blank">Instagram</a></div>
    </div>
    <div class="link_element">
      <div class="link_element_title"><a href="https://www.facebook.com/ryota.murakami.100" target="_blank">Facebook</a></div>
    </div>
    <div class="link_element">
      <div class="link_element_title"><a href="https://www.linkedin.com/in/ryota-murakami-ba9206164" target="_blank">LinkedIn</a></div>
    </div>
  </div>
</div>