<style>
  .oss-contributor {
    margin-bottom: 35px;
    border-top: solid 2px #efefef;
    margin: 2em 0 0 0;
    padding: 2em 0 0 0;
  }

  .oss-contributor > h1 {
    margin-bottom: 25px;
  }

  .oss-contributor_section {
    margin-bottom: 25px;
    padding-left: 10px;
  }

  .oss-contributor_section a {
    border: none;
    color: #333;
    font-size: 24px;
    line-height: 24px;
  }

  .oss-contributor_section .oss-contributor_section_title {
    color: #333;
    font-size: 1.1em;
    margin-bottom: 3px;
  }

  .oss-contributor_section .oss-contributor_section_desc {
    padding-left: 25px;
    font-size: 1.1em;
    line-height: 1.4em;
    color: #787878;
  }

  .oss-contributor_section .oss-contributor_section_desc a {
    font-size: 1em;
    line-height: 1.4em;
    color: #787878;
  }

  .oss-contributor_section_desc p {
    margin-bottom: 8px;
  }
</style>
<div class="oss-contributor">
  <h2>Main OSS Contribution</h2>

  <div class="oss-contributor_section">
    <div class="oss-contributor_section_title"><a href="https://github.com/facebook/react" target="_blank">React</a></div>
    <div class="oss-contributor_section_desc">I like "No Abstraction > Wrong Abstraction" principle and I React Core Team.<br>
      Mainly create issue/discuss about Doc, Read & Reaction new feature PR, commit tweek fix something.
    </div>
  </div>
  <div class="oss-contributor_section">
    <div class="oss-contributor_section_title"><a href="https://spectrum.chat" target="_blank">Spectrum</a></div>
    <div class="oss-contributor_section_desc"><p>Specrum is a OSS communitiy platform. After they unveiled Spectrum as a open source, I was actively committed to mobile and comment link for about a month.</p>
      <p>Unfortunately, the mobile version wasn't released due to a major roadmap change(such as the acquisition of Github), but this is the first time I joined a OSS project as an active contributor,<br>
        and collaborated with a great team like them I was really happy to be able to do that.<br>
      </p>
      <p style="text-align: right;"><a style="margin-right: 10px;" href="https://github.com/withspectrum/spectrum/pull/2880" target="_blank">First Pull Request</a>
      <p>
    </div>
  </div>
</div>