{{ "<!-- works -->" | safeHTML }}
<style>
	.repository-section h1 {
		margin-bottom: 20px;
	}

	.repository-section article {
		margin-bottom: 15px;
	}

	.repository-section .repository-section_desc {
		line-height: 1.3em;
	}
</style>
<section class="repository-section">
	{{ with .Site.Params.repository.title }}<h1>{{ . | markdownify }}</h1>{{ end }}
	<div class="row works-row">
		{{ range .Site.Params.repository.items }}
		<article class="10u$ work-item">
			<h2 style="margin-bottom: 0.4em;"><a target="_blank" href="{{ .url }}">{{ .title }}</a></h2>
			<p class="repository-section_desc" style="font-size: 1.1em;color: #787878;">{{ .description | markdownify }}</p>
		</article>
		{{ end }}
	</div>
</section>
