{{ "<!-- activity -->" | safeHTML }}
<style>
	.sns-section h1 {
		margin-bottom: 5px;
	}

	.sns-section_container {
		display: flex;
		flex-wrap: wrap;
	}

	.sns-section_item {
		border: none;
		color: #333;
		font-size: 24px;
		line-height: 24px;
		flex: 0 1 auto;
		margin-right: 10px;
		margin-top: 10px;
	}
</style>
<section class="sns-section">
	{{ with .Site.Params.sns.title }}<h1>{{ . | markdownify }}</h1>{{ end }}
	<div class="sns-section_container">
		{{ range .Site.Params.sns.items }}
		<a class="sns-section_item" target="_blank" href="{{ .url }}">{{ .title }}</a>
		{{ end }}
	</div>
</section>
